# GitHub Packages
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@daveio:registry=https://npm.pkg.github.com/

# npm registry (default)
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
registry=https://registry.npmjs.org/
