name: docker
"on":
  push:
    tags:
      - "*"
permissions:
  contents: read
  packages: write
  id-token: write
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: qemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      - name: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - name: login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=tag,pattern=*
            type=sha,format=long
            type=raw,value=latest
      - name: build
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23
        with:
          context: .
          file: ./Dockerfile
          push: true
          provenance: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
