name: npm
"on":
  push:
    tags:
      - "*"
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - name: bun
        uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97
        with:
          bun-version: latest
      - name: node
        uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
      - name: dependencies
        run: bun install
      - name: package
        run: bun run build
      - name: version
        run: |
          TAG_VERSION=${GITHUB_REF##*/}
          bun x json -I -f package.json -e "this.version='${TAG_VERSION}'"
      - name: publish-npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: bun x npm publish --provenance --access public
      - name: configure-ghpr
        run: |
          echo "@daveio:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc
          bun x json -I -f package.json -e "this.name='@daveio/npm'"
      - name: publish-ghpr
        run: bun x npm publish --provenance --access public --scope @daveio
