name: npm
"on":
  push:
    tags:
      - "*"
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: bun
        uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68
        with:
          bun-version: latest
      - name: node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
      - name: dependencies
        run: bun install
      - name: package
        run: bun run build
      - name: version
        run: |
          TAG_VERSION=${GITHUB_REF##*/}
          bun x json -I -f package.json -e "this.version='${TAG_VERSION}'"
      - name: publish-npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: bun x npm publish --provenance --access public
      - name: configure-ghpr
        run: |
          echo "@daveio:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc
          bun x json -I -f package.json -e "this.name='@daveio/npm'"
      - name: publish-ghpr
        run: bun x npm publish --provenance --access public --scope @daveio
