name: npm
"on":
  push:
    tags:
      - "*"
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
        with:
          bun-version: latest
      - name: node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
      - name: dependencies
        run: bun install
      - name: package
        run: bun run build
      - name: version
        run: |
          TAG_VERSION=${GITHUB_REF##*/}
          bun x json -I -f package.json -e "this.version='${TAG_VERSION}'"
      - name: publish-npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: bun x npm publish --provenance --access public
      - name: configure-ghpr
        run: |
          echo "@daveio:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc
          bun x json -I -f package.json -e "this.name='@daveio/npm'"
      - name: publish-ghpr
        run: bun x npm publish --provenance --access public --scope @daveio
